services:
  - type: web
    name: portfolio-api
    runtime: python
    rootDir: backend
    buildCommand: pip install -r requirements.txt
    startCommand: uvicorn main:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: ALLOWED_ORIGINS
        value: https://frontend-six-theta-28.vercel.app
      - key: PYTHON_VERSION
        value: "3.11"
